* {
  box-sizing: border-box;
}
:root {
  --yellow: #f9ca24;
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;
  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
  --lightgray: #e8e8e8;
  --red: #ff0000;
  --blue: #0000ff;
  --footer: #212121;
  --rama: #409f9f;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: var(--black);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.site-header {
  /* padding: 10px; */
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
/* CODE FOR LOGO AND TAGLINE IN NAVBAR BELOW */
.logo-tagline-navbar-container {
  display: table;
  min-width: 100%;
  table-layout: fixed;
  white-space: nowrap;
  padding-left: 2%;
  /* padding-right: 5%; */
  margin-bottom: 0px;
}
.logo-tagline-container {
  font-family: sans-serif;
  font-size: 15pt;
  font-weight: 300;
  line-height: 1.33;
  display: table-cell;
  height: 60px;
  max-width: 400;
  vertical-align: middle;
  white-space: nowrap;
}
.logo-tagline-anchor {
  text-decoration: none;
}
.logo-image {
  display: inline-block;
  max-height: 60px;
  max-width: 225px;
  padding: 8px 4px 8px 12px;
  vertical-align: middle;
}
.consulting-text {
  display: inline-block;
  outline-color: currentColor;
  outline-style: none;
  outline-width: medium;
  overflow: hidden;
  padding: 0 0 16px 0;
  text-decoration: ellipsis;
  vertical-align: middle;
}

/* CODE FOR NAVBAR ITEMS BELOW */
.navigation-bar {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.navlist-item {
  display: inline-block;
  max-width: 300px;
  overflow: visible;
  position: relative;
  text-align: left;
  transition: opacity 0ms ease 0.3s;
  vertical-align: middle;
  white-space: nowrap;
}
.navlist-item:hover {
  background-color: var(--lightgray);
}
.navlist-anchor {
  text-decoration: inherit;
  display: inline-block;
  max-width: 240px;
  position: relative;
  vertical-align: middle;
  text-overflow: ellipsis;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 12px;
}

/* CODE FOR BANNER THAT HAS IMAGE, NAME AND GENERAL EXPERIENCE BELOW */
.banner-main {
  background: var(--rama);
}
.banner-container {
  max-width: 800px;
  margin: 50px auto;
}
.banner {
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.headshot img {
  width: 250px;
  height: 240px;
  border-radius: 50%;
  border: 3px solid var(--orange);
  object-fit: cover;
}

.name {
  display: block;
  font-size: 40px;
  font-weight: bold;
  margin-left: 100px;
  margin-bottom: 0px;
  padding: 0px 10px;
}

.job-title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-left: 100px;
  padding: 0px 10px;
}

/* CODE FOR BACKGROUND PAGE BELOW */

.background-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
.work-history-title {
  color: var(--orange);
}
.job-titles {
  font-size: 18px;
  font-weight: bold;
  color: var(--blue);
  margin-bottom: 0px;
}
.employment-details {
  font-size: 16px;
  font-weight: bold;
  color: var(--black);
  margin-top: 0px;
}
.job-details-current-minusOne,
.job-details-current-minusTwo,
.job-details-current-minusTwo {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* CODE FOR PROJECTS PAGE BELOW */
.projects-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
.projects-main-title {
  color: var(--orange);
}
.project {
  margin-top: 0px;
  margin-bottom: 0px;
}
.project-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--blue);
  margin-bottom: 0px;
}
.github-logo-with-project-link {
  width: 100px;
  height: 40px;
  margin: 0 10px;
}
.show-more-button-class {
  background-color: var(--rama);
  font-weight: bold;
  width: 100px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5rem;
}
.show-more-button-class:hover {
  background-color: var(--lightgray);
}
.show-more-and-github-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#popup-overlay1,
#popup-overlay2,
#popup-overlay3,
#popup-overlay4,
#popup-overlay5 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

#popup-container1,
#popup-container2,
#popup-container3,
#popup-container4,
#popup-container5 {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#close-button1,
#close-button2,
#close-button3,
#close-button4,
#close-button5 {
  position: absolute;
  top: 10px;
  right: 10px;
}

.project-description {
  margin-bottom: 0;
}

/* CODE FOR CONTACT PAGE BELOW */
.contact-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.contact-main-title {
  color: var(--orange);
  margin-left: auto;
  margin-right: auto;
}

.form-setup {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid var(--black);
  text-align: left;
  font-weight: bold;
  margin: 0 auto;
}

.form-setup .form-setup-h2-class {
  margin-bottom: 0%;
}

.form-setup-p-class {
  margin-top: 0;
  padding-top: 0%;
  color: var(--gray);
  font-weight: normal;
}

.text-input {
  margin-left: 2%;
  width: 50%;
  padding: 3px;
  margin: 10px;
  border: 1px solid var(--black);
}

.label-class {
  display: inline-block;
  margin-left: 2%;
  width: 10%;
  font-weight: bold;
  margin: 10px;
}

.btn {
  background-color: var(--rama);
  color: var(--black);
  font-weight: bold;
  width: 100px;
  height: 40px;
  border: 1px solid var(--black);
  padding: 10px 10px;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5rem;
}

.btn:hover {
  background-color: var(--lightgray);
}

.btn-secondary:hover {
  background-color: var(--red);
}

/* CODE FOR FOOTER STYLING BELOW */
.site-footer {
  text-align: left;
  background: var(--footer);
  color: var(--white);
  font-size: 14px;
  padding: 20px 20px;
  position: fixed;
  bottom: -0px;
  width: 100%;
}
.footer-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
.footer-left {
  float: left;
  line-height: 30px;
}
.copyright {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0 10px;
}
